$primary: rgb(63, 164, 223);

.add-record {
  text-align: right;
  margin-bottom: 30px;

  button {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid rgb(30, 107, 151);
      color: rgb(30, 107, 151);
    }
  }
}

#findings {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#findings td, #findings th {
  border: 1px solid #ddd;
  padding: 8px;
}

#findings tr:nth-child(even){background-color: #f2f2f2;}

#findings tr:hover {background-color: #ddd;}

#findings th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary;
  color: white;
}

.findings-table {
  .title {
  }
  #edit, #delete, #view{
    padding: 5px;
    border: 0;
    cursor: pointer;
  }
  #edit{
    margin-right: 4px;
    background: orange;
    &:hover{
      background: rgb(180, 137, 28)
    }
  }
  #delete{
    background: rgb(250, 99, 99);
    &:hover{
      background: red;
    }
  }
  #view{
    margin-right: 4px;
    background: rgb(3, 194, 3);
    &:hover{
      background: green;
    }
  }
}

#findings td:first-child, #findings th:first-child {
  width: 150px;
  word-break: break-all;
}

#findings td:last-child, #findings th:last-child {
  text-align: center;
  width: 150px;
}