.result-form{
  border: 1px solid #CCC;
  width: 60%;
  margin: 0 auto;
  .form-item{
    padding: 5px 10px;
    display: flex;
    label{
      width: 200px;
      display: inline-block;
      line-height: 40px;
    }
    input, select{
      height: 40px;
      flex-shrink: 0;
      flex-grow: 1;
    }
    select{
      background: #ccc;
    }
    textarea{
      min-height: 200px;
      max-width: calc(100% - 200px);
      flex-shrink: 0;
      flex-grow: 1;
    }
  }
  .form-action{
    text-align: right;
    padding: 5px 10px;
    #save{
      padding: 10px 10px;
      border: 0;
      cursor: pointer;
      background: greenyellow;
      &:hover{
        background: rgb(121, 180, 32);
      }
    }
    #cancel{
      padding: 10px 10px;
      border: 0;
      cursor: pointer;
      background: orange;
      margin-right: 4px;
      &:hover{
        background: rgb(172, 112, 1);
      }
    }
    
  }
}